<launch>

  <node pkg="move_base" type="move_base" name="move_base" output="screen">
    <param name="controller_frequency" value="10.0"/>
    <rosparam file="$(find obstacle_avoidance)/config/costmap_common_params.yaml" command="load" ns="global_costmap" />
    <rosparam file="$(find obstacle_avoidance)/config/costmap_common_params.yaml" command="load" ns="local_costmap" />
    <rosparam file="$(find obstacle_avoidance)/config/local_costmap_params.yaml" command="load" />
    <rosparam file="$(find obstacle_avoidance)/config/global_costmap_params.yaml" command="load" />
    <rosparam file="$(find obstacle_avoidance)/config/trajectory_planner.yaml" command="load" />
  </node>

  <node pkg="obstacle_avoidance" name="cmd_vel_correction" type="cmd_vel_correction.py" output="screen" />

</launch>